
/* App.css */

.App {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  margin: 0;
  padding: 0;
}

.resizable-container {
  position: relative;
  border: 1px solid #ccc;
  resize: both;
  overflow: hidden;
  cursor: nwse-resize;
}

.resizable-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1010f1;
  user-select: none;
}

.resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #007bff;
  cursor: nwse-resize;
}

.resizer.active {
  background-color: #0056b3;
}
